doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- BOOTSTRAP
    link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css",  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD", crossorigin="anonymous")

    script(src="https://aframe.io/releases/1.4.0/aframe.min.js") 

    //- NAF basic requirements
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.slim.js") 
    script(src="/socketio/socket.io.slim.js") 
    script(src="/easyrtc/easyrtc.js")
    script(src="/javascripts/networked-aframe.js") 
    script(src="/javascripts/persistent-p2p.component.js") 

    //- used for flying in this demo
    //- script(src="https://cdn.jsdelivr.net/gh/n5ro/aframe-extras@14411ea/dist/aframe-extras.controls.min.js") 

    //- used for the pretty environment
    script(src="https://unpkg.com/aframe-environment-component@1.3.2/dist/aframe-environment-component.min.js") 

    //- used to prevent players from spawning on top of each other so much
    script(src="/javascripts/spawn-in-circle.component.js")

    script.
      // Called by Networked-Aframe when connected to server (optional)
      // (this api will change in future versions)
      function onConnect() {
        console.log('onConnect', new Date());
      }

      // Note the way we're establishing the NAF schema here; this is a bit awkward
      // because of a recent bug found in the original handling. This mitigates that bug for now,
      // until a refactor in the future that should fix the issue more cleanly.
      // see issue https://github.com/networked-aframe/networked-aframe/issues/267

      // This one is necessary, because tracking the .head child component's material's color
      // won't happen unless we tell NAF to keep it in sync, like here.
      NAF.schemas.getComponentsOriginal = NAF.schemas.getComponents;
      NAF.schemas.getComponents = (template) => {
        if (!NAF.schemas.hasTemplate('#avatar-template')) {
          NAF.schemas.add({
            template: '#avatar-template',
            components: [
              'position',
              'rotation',
              {
                selector: '.head',
                component: 'material',
                property: 'color'
              }
            ]
          });
        }

        // CUBE TEMPLATE
        if(!NAF.schemas.hasTemplate('#my-cube')){
          NAF.schemas.add({
            template: '#my-cube',
            components: [
              'position',
              {
                component: 'material',
                property: 'color'
              }
            ]
          });
        }

        const components = NAF.schemas.getComponentsOriginal(template);
        return components;
      };    

    script(src="https://unpkg.com/aframe-randomizer-components@^3.0.1/dist/aframe-randomizer-components.min.js") 
  body
    block content
